{%- macro bars2(data, start_pos) -%}
	<div id="specs">
	{%- for element in data.layout -%}
		{%- set spec = element.spec -%}
		{%- set name = spec.name -%}
		<div id="spec-{{name}}" class="spec">
			{%- for player in element.players -%}
				{%- set spec_id = name ~ loop.index0 -%}
				{%- set player_loop = loop -%}
				{%- if player.is_visible -%}
					<div id="spec-{{spec_id}}" class="spec-{{name}}">
				{%- else -%}
					<div id="spec-{{spec_id}}" class="spec-{{name}}" style="height: 0px; visibility: hidden;">
				{%- endif -%}
					<input id="nick-{{spec_id}}" class="spec-nick" type="text" value="{{player.nick}}" size="12">
					{%- for ability in player.abilities -%}
						{%- set abl_id = ability.name ~ player_loop.index0 -%}
						{%- if ability.is_visible -%}
							<div id="abl-{{abl_id}}" class="tooltip abl-bar">
						{%- else -%}
							<div id="abl-{{abl_id}}" class="tooltip abl-bar" style="height: 0px; visibility: hidden;">
						{%- endif -%}
							<button id="btn-{{abl_id}}" class="btn-add">+</button>
						{%- for pos, time in zip(ability.casts_px, ability.casts) -%}
							{%- set left = pos + start_pos -%}
							{%- set right = pos + ability.cool_down + start_pos -%}
							{%- set cd_len = ability.cool_down - ability.duration -%}
							<div id="abl-bar-{{abl_id}}" class="ability-bar higher20" style="left: {{left}}px; right: {{right}}px; width: {{ability.cool_down}}px;" >
								<span class="tooltiptext">{{time}}</span>
								<table class="ability-tbl">
									<tbody>
										<tr>
											<td class="duration" style="max-width: {{ability.duration}}px; width: {{ability.duration}}px; background-color: {{spec.color_main}};" >
												{{ability.name}}
											</td>
											<td style="width: {{cd_len}}px; background-color: {{spec.color_cd}};">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						{%- endfor -%}
						</div>
						<br>
					{%- endfor -%}
				</div>
			{%- endfor -%}
		</div>
	{%- endfor -%}
	</div>
{%- endmacro -%}


{%- macro options2(data) -%}
	<div id="options" class="container">
		{%- for element in data.layout -%}
			{%- set spec = element.spec -%}
			{%- set name = spec.name -%}
			{%- set visible_players = element.players|selectattr("is_visible")|list -%}
			<div class="child options-{{name}}" id="options-{{name}}" style="background-color: {{spec.color_cd}};">
				<label>{{name}}</label>
				<input id="count-{{name}}" class="spec-inp" type="text" value={{(visible_players)|length}} size=1>
				<br>
				{%- for player in element.players -%}
					{%- set spec_id = name ~ loop.index0 -%}
					{%- set player_loop = loop -%}
					{%- if player.is_visible -%}
						<div id="options-{{spec_id}}">
					{%- else -%}
						<div id="options-{{spec_id}}" style="height: 0px; visibility: hidden;">
					{%- endif -%}
						<input id="box-{{spec_id}}" class="spec-checkbox" type="checkbox" checked>
						<label for="box-{{spec_id}}"><b id="lbl-{{spec_id}}">{{player.nick}}</b></label>
						<br>
						{%- for ability in player.abilities -%}
							{%- set name = ability.name -%}
							{%- set abl_id = name ~ player_loop.index0 -%}
							<input id="box-{{abl_id}}" class="ability-checkbox" type="checkbox"
								{{'checked' if ability.is_visible else ''}} >
							<label for="box-{{abl_id}}">{{name}}</label>
							<br>
						{%- endfor -%}
						<hr>
					</div>
				{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
{%- endmacro -%}


{%- macro render_phases2(data, start_pos) -%}
	<div id="phases">
		{%- for phase in data.encounter.phases -%}
			{%- for interval in phase.intervals -%}
				{%- set start, end = interval -%}
				<div class="phase" style="left: {{start_pos + start + 2}}px; right: {{start_pos + end + 2}}px; width: {{end-start - 1}}px; background-color: {{phase.color}};max-width: {{end-start-1}}px;">
					{{phase.name}}
				</div>
			{%- endfor -%}
		{%- endfor -%}
	</div>
	<br>
{%- endmacro -%}


{%- macro render_boss_casts2(data, start_pos, scale) -%}
	<div id="boss-casts">
		{%- for action in data.encounter.boss_actions -%}
			<div id="boss-casts-{{action.name}}" style="border-bottom: 1px solid #000;">
				{%- for cast in action.casts -%}
					{% set time = '%s:%02d'|format(cast // 60, cast % 60) %}
					{%- set cast = (cast + 1) * scale -%}
					<div class="phase tooltip cast" style="left: {{start_pos + cast + 2}}px; background-color: {{action.color}};">
						&nbsp;<span class="tooltiptext">{{action.name}} at<br>{{time}}</span>
					</div>
				{%- endfor -%}
			<a href="https://www.wowhead.com/spell={{action.guid}}">{{action.name}}</a>
			</div>
		{%- endfor -%}
	</div>
{%- endmacro -%}

{% macro timeline2(data) %}
	<div class="timeline-ruler">
		{% for sec in range(data.encounter.seconds) %}
			{% set time = '%s:%02d'|format(sec // 60, sec % 60) %}
			{% if sec % 60 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-minute">
					<div class="timeline-ruler-number"><b>{{time}}</b></div>
				</div>
			{% elif sec % 10 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-10second">
					<div class="timeline-ruler-number">{{time}}</div>
				</div>
			{% elif sec % 5 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-5second"></div>
			{% else %}
				<div class="timeline-ruler-tick timeline-ruler-1second"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}
