{% macro timeline(seconds, events) %}
	<div class="timeline-ruler">
		{% for sec in range(seconds) %}
			{% set time = '%s:%02d'|format(sec // 60, sec % 60) %}
			{% if sec in events %}
				<div class="timeline-ruler-tick timeline-ruler-bang">
					<div class="timeline-ruler-number tooltip"><b >{{time}}</b><span class="tooltiptext">{{ events.get(sec, '') }}</span></div>
				</div>
			{% elif sec % 60 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-minute">
					<div class="timeline-ruler-number"><b>{{time}}</b></div>
				</div>
			{% elif sec % 10 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-10second">
					<div class="timeline-ruler-number">{{time}}</div>
				</div>
			{% elif sec % 5 == 0 %}
				<div class="timeline-ruler-tick timeline-ruler-5second"></div>
			{% else %}
				<div class="timeline-ruler-tick timeline-ruler-1second"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}


{%- macro bars(start_pos, specs) -%}
	{%- for spec in specs -%}
		{% set name = spec.name %}
		<div id="spec-{{ name }}">
			<input type="text" name="{{ name }}" id="{{ name }}" value="{{ name }}" size="12" style="position: absolute;">
			{%- for ability in spec.abilities -%}
				{# if ability.check -#}

				{%- set right = start_pos + ability.cool_down -%}
				{%- set cd_len = ability.cool_down - ability.duration -%}
				{%- set hide = 'height: 0px; visibility: hidden;' -%}
				{%- if ability.check -%}
					<div id="abl-{{ ability.name }}" class="tooltip abl-bar">
				{%- else -%}
					<div id="abl-{{ ability.name }}" class="tooltip abl-bar" style="height: 0px; visibility: hidden;">
				{%- endif -%}
					<button class="btn-add" id="btn-{{ ability.name }}">+</button>
					<div class="ability-bar higher20" style="left: {{ start_pos }}px; right: {{ right }}px; width: {{ ability.cool_down }}px;" id="abl-bar-{{ ability.name }}">
						<table class="ability-tbl">
							<td style="max-width: {{ ability.duration }}px; width: {{ ability.duration }}px; background-color: {{ ability.color_main }};" class="duration">{{ ability.name }}</td>
							<td style="width: {{ cd_len }}px; background-color: {{ ability.color_cd }};"></td>
							<span class="tooltiptext">0:00</span>
						</table>
					</div>
				</div>
				<br>
			{%- endfor -%}
		</div>
	{%- endfor -%}
{%- endmacro -%}


{%- macro options(specs) -%}
	<div id="options" class="container">
		{%- for spec in specs -%}
			{%- set name = spec.name -%}
			<div class="child">
				<input type="checkbox" name="box-{{name}}" id="box-{{name}}" checked class="spec-checkbox">
				<label for="{{name}}">{{name}}</label>
				<input type="text" name="count-{{name}}" id="count-{{name}}" value=1 size=1></td>
				<br>
				{%- for ability in spec.abilities -%}
					{%- set name = ability.name -%}
					<input type="checkbox" name="box-{{name}}" id="box-{{name}}" {{'checked' if ability.check else ''}} class="ability-checkbox">
					<label for="{{name}}">{{name}}</label>
					<br>
				{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
{%- endmacro -%}